:root {
    --primary: #ff7214;
    --secondary: #6c6c6f;
     --ternary: #F7F7F7;
   /* --purple: #8aaaf5;
    --gray: #e6e6dc;
    --secondary-gray: #7c7c7a;
    --beige: #b4c1db; */
  }
  /* fonts to use*/
  @font-face {
    font-family: poppins ;
    src: url(../font/Poppins-Regular.ttf);
  }
  
  * {
    -webkit-font-smoothing: antialiased;
    font-family: 'poppins';
  }
  html,
  body {
    margin: 0px;
    height: 100%;
  }
  
/* Text Color */
.text-orange{
color: var(--primary);
}
.text-gray{
    color:var(--secondary);
}
/* bg color */
.bg-orange{
    background-color: var(--primary);
}
.bg-light-gray{
    background-color:var(--ternary);
}
/* button */
.btn-orange {
    background-color: var(--primary);
    border-radius: 50px;
    color: #fff;
}
.btn-orange:hover {
    border:1px solid var(--primary);
    color: var(--primary);
}

/* Navbar css starts here */
.navbar-button:focus{
    box-shadow: 0 0 05px var(--primary);
}
    .nav-link:hover{
        color:var(--primary)
    }
/* Navbar css ends here */

/* Header inner section css starts */
.shape-1{
max-width: 50px;
left:40px;
}

/* Header inner section css end */

/* About US section css starts */
.bg-about-us{
margin-left: 70px;   
    max-width: 380px;
    max-height: 280px;
}
.h-85{
    height: 85%;
}
/* About US section css ends */
