:root {
    --primary: #ff7214;
    --secondary: #6c6c6f;
    --ternary: #F7F7F7;
    --blue: #112e41;
    /*    --secondary-gray: #7c7c7a;
    --beige: #b4c1db; */
  }
  /* fonts to use*/
  @font-face {
    font-family: poppins ;
    src: url(../font/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-bold ;
    src: url(../font/Poppins-Bold.ttf);
  }
  
  * {
    -webkit-font-smoothing: antialiased;
    font-family: 'poppins';
  }
  html,
  body {
    margin: 0px;
    height: 100%;
  }
  a{
    text-decoration: none;
  }
  
/* Text Color */
.text-orange{
color: var(--primary);
}
.text-gray{
    color:var(--secondary);
}
.text-blue{
    color:var(--blue);
}

/* bg color */
.bg-orange{
    background-color: var(--primary);
}
.bg-light-gray{
    background-color:var(--ternary);
}
/* button */
.btn-orange {
    background-color: var(--primary);
    border-radius: 50px;
    color: #fff;
}
.btn-orange:hover {
    border:1px solid var(--primary);
    color: var(--primary);
}

/* font size */
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px;
}
.f-24{
    font-size: 24px;
}
.f-48{
    
    font-size: 48px;
}
.f-bold{
    font-family:poppins-bold;

}

/* letter spacing */
.ls-1{
letter-spacing: 1px;
}

/* custom margin */
.mb-80{
    margin-bottom: 80px;
}

/* custom padding */
.pb-80{
    padding-bottom: 80px;
}

/* Navbar css starts here */
.navbar-button:focus{
    box-shadow: 0 0 05px var(--primary);
}
    .nav-link:hover{
        color:var(--primary)
    }
/* Navbar css ends here */

/* Header inner section css starts */
.shape-1{
max-width: 50px;
left:40px;
}

/* Header inner section css end */

/* About US section css starts */
.bg-about-us{
margin-left: 70px;   
    max-width: 380px;
    max-height: 280px;
}

/* About US section css ends */


/* Features section css starts */


.iconBox {
    border: 5px solid #f6f7fb;
    border-radius: 5px;
    padding: 40px 25px;
    position: relative;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    margin-top: 10px;
}
.iconBox:hover {
    transform: scale(1.05); 
    border: 3px solid var(--primary);

}

.iconBox a {
    color: #233646;
    display: block;
    font-family:poppins;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
    text-decoration: none;
}
.iconBox .icon {
    border-radius: 50%;
    display: block;
    font-size: 27px;
    line-height: 70px;
    margin: 0 auto 30px;
    height: 80px;
    width: 80px;
}
/* Features section css ends */

/* experience section css starts */


.content-box-fluid {
    width: 100%;
}
.read-more {
    color: var(--blue);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.image{
height: 100%;
width:100%
}
/* experience section css ends */


/* Responsive */
@media screen and (min-width:1800px){
    .w-content{
        width: 60%;

    }
    .bg-about-us{
        margin-left: 70px;   
            max-width: 32%;
            max-height: 280px;
        }
        .image{
            height: 100%;
            width:100%
            }
}

@media screen and (max-width:1390px){
    .w-content{
        width: 100%;

    }
    .image{
        height: 350px;
        width:100%
        }
    
}

@media screen and (max-width:991px) {
    .bg-about-us{
        margin-left: 70px;   
            max-width: 580px;
            max-height: 320px;
        }
        .pb-80{
            padding-bottom: 40px;
        }
}
@media screen and (min-width: 768px){
.content-box-fluid {
    max-width: 505px;
}



}
@media screen and (max-width:550px){
    .f-48{
        font-size: 40px;
    }
    .image{
        height: 250px;
  
        }
}


@media screen and (max-width:380px){
    .f-48{
        font-size: 32px;
    }
    .f-12{
        font-size: 12px;
    }
    .f-14{
        font-size: 12px;
    }
    .f-24{
        font-size: 18px;
    }
    .mb-80{
        margin-bottom: 20px;
    }
   

}