:root {
    --primary: #ff7214;
    --secondary: #6c6c6f;
    /* --ternary: #d9d9d9;
    --purple: #8aaaf5;
    --gray: #e6e6dc;
    --secondary-gray: #7c7c7a;
    --beige: #b4c1db; */
  }
  /* fonts to use*/
  @font-face {
    font-family: Bukra;
    src: url(../fonts/Bukra.ttf);
  }
  
  * {
    -webkit-font-smoothing: antialiased;
    font-family: 'Bukra';
  }
  html,
  body {
    margin: 0px;
    height: 100%;
  }
/* Text Color */
.text-orange{
color: #ff7214;
}
.text-gray{
    color:#6c6c6f;
}
/* bg color */
.bg-orange{
    background-color: #ff7214;

}
/* button */
.btn-orange {
    background-color: #ff7214;
    border-radius: 50px;
    color: #fff;
}

/* Navbar */
.navbar-button:focus{
    box-shadow: 0 0 05px #ff7214;}

/* Header */
.shape-1{
max-width: 50px;
left:40px;
}
/* About US */
.bg-about-us{
margin-left: 70px;   
    max-width: 380px;
    max-height: 280px;
}
.h-85{
    height: 85%;
}
@media (max-width:990px){
    h1{
        font-size: 3rem;
        }
}
@media (max-width:570px){
    h1{
        font-size: 2rem;
        }
}